.wish-count {
    position: absolute;
    border-radius: 50%;
    background-color: $pink;
    width: 16px;
    top: -5px;
    height: 16px;
    left: 10px;
}

.toast-container {
    display: flex;
    align-items: center;
    .toa   st-img {
        height: 48px;
    }

    .circle-icon {
        margin-left: 11px;
        color: #22B47E;
        font-size: 40px;
    }
}


